<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  <title>Home Widget EduTech</title>
  <% include ./bootstrap4 %>
  <% include ./icons %>

  <style>

    #nav{
      background-image: linear-gradient(rgb(121, 121, 210), rgb(51, 51, 153));
    }
    .btn-fb{
      border:1px solid rgb(59,89,152);
      padding: 2vh 2vh 2vh 2vh;
      margin: 3vh;
    }
    .btn-fb:hover{
      background-color: rgb(59,89,152);
      color:white;
    }
    .btn-goog{
      border: 1px solid rgb(219,68,55);
      padding: 2vh;
      margin: 3vh;
      color: red;
    }
    .btn-goog:hover{
      background-color: rgb(219,68,55);
      color:white;
    }
     .link {
    color: blue;

}

.select
{
  color: red;
}



.dropbtn {

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: ;}


  </style>
 <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">></script>
</head>

<body >



  <nav class="navbar sticky-top navbar-expand-lg navbar-dark" id="nav">
    <a class="navbar-brand" href="#" disabled><img src="/images/headerLogo.png" width="200" height="40" disabled="true" alt="WidgetEduTech Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         CLASS
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/class/<%=4%>">4</a>
          <a class="dropdown-item" href="/class/<%=5%>">5</a>
          <a class="dropdown-item" href="/class/<%=6%>">6</a>
          <a class="dropdown-item" href="/class/<%=7%>">7</a>
          <a class="dropdown-item" href="/class/<%=8%>">8</a>
          <a class="dropdown-item" href="/class/<%=9%>">9</a>
          <a class="dropdown-item" href="/class/<%=10%>">10</a>
          <a class="dropdown-item" href="/class/<%=11%>">11</a>
          <a class="dropdown-item" href="/class/<%=12%>">12</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         BOARDS
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
        <table class="table">
          <tbody>
          <tr>
            <td>
          <a class="dropdown-item" href="/board/APBSIE">APBSIE</a>
        </td>
        <td>
          <a  href="/board/AHSEC">AHSEC</a>
        </td>
        <td>
          <a  href="/board/BSEB">BSEB</a>
        </td>
        <td>
          <a  href="/board/CGBSE">CGBSE</a>
        </td>
        <td>
          <a  href="/board/PSEB">PSEB</a>
        </td>

        </tr>
        <tr>


          <td>
          <a class="dropdown-item" href="/board/GBSHSE">GBSHSE</a>
        </td>
        <td>
          <a class="dropdown-item" href="/board/GSEB">GSEB</a>
        </td>
        <td>
          <a  href="/board/BSEH">BSEH</a>
        </td>
        <td>
          <a  href="/board/HPBoSE">HPBoSE</a>
        </td>
        <td>
          <a  href="/board/JKBOSE">JKBOSE</a>
        </td>

        </tr>


        <tr>
          <td>
          <a class="dropdown-item" href="/board/JAC">JAC</a>
        </td>
        <td>
          <a  href="/board/KSEEB">KSEEB</a>
        </td>
        <td>
          <a  href="/board/MAHAHSSCBOARD"> MAHAHSSCBOARD</a>
        </td>
        <td>
          <a  href="/board/MBOSE"> MBOSE</a>
        </td>
        <td>
          <a class="dropdown-item" href="/board/MBSE">MBSE</a>
        </td>


      </tr>


      <tr>
      <td>
          <a class="dropdown-item" href="/board/NBSE">NBSE</a>
        </td>
        <td>
          <a  href="/board/BSEODISHA">BSEODISHA</a>
        </td>
        <td>
          <a  href="/board/RBSE">RBSE</a>
        </td>
        <td>
          <a  href="/board/TNBSE">TNBSE</a>
        </td>
        <td>
          <a class="dropdown-item" href="/board/TSBIE">TSBIE</a>


</tr>


<tr>
  <td>
          <a class="dropdown-item" href="/board/TBSE">TBSE</a>
        </td>
        <td>
          <a  href="/board/BSHEUP">BSHEUP</a>
        </td>
        <td>
          <a  href="/board/UBSE">UBSE</a>
        </td>
        <td>
          <a  href="/board/WBBSE">WBBSE</a>
        </td>
        <td>
          <a  href="/board/CBSE">CBSE</a>
        </td>

      </tr>
      <tr>
        <td>
        <a  href="/board/ICSE">ICSE</a>
        </td>
        <td>
            <a  href="/board/ICGSE">ICGSE</a>
        </td>
      </tr>
        </tbody>
        </table>
        </div>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         PRODUCT
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Live Classes</a>
          <a class="dropdown-item" href="#">Animated Classes</a>
          <a class="dropdown-item" href="#">Self Placed</a>
          <a class="dropdown-item" href="#">Practice Question</a>
          <a class="dropdown-item" href="#">Doubts Book</a>
        </div>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ABOUT US?
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About Widget Edutech</a>
          <a class="dropdown-item" href="#">Our Blog</a>
          <a class="dropdown-item" href="#">Meet Our Educators</a>
          <a class="dropdown-item" href="#">Our Satisfied Customers</a>
          <a class="dropdown-item" href="#">Contact Us</a>
        </div>
       </li>

     </ul>
      <ul class="navbar-nav navbar-right">
        <% if(!currentUser){%>
          <li class="nav-item">
            <!-- Trigger the modal with a button -->
            <a class="nav-link" id="login"data-toggle="modal" data-target="#myModal">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="intructor" href="/beinstructor" >Become an Instructor</a>
          </li>
        <%} else{%>
          <li class="nav-item">
            <a class="nav-link" id="logout"href="/logout" >Logout</a>
          </li>
        <%}%>
      </ul>
    </div>
  </nav>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="panel panel-default">
              <h3 class="panel heading text-center"><b>Login</b></h3><hr>
              <p>Please enter your Username and Password</p>
            </div>
            <form action="/login" method="post">
              <div class="row">
                <div class="form-group col-md-6">
                  <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control" type="password" name="password" placeholder="password">
                </div>
              </div>
              <div class="container col-md-6 text-center">
                <a href="/studentregister">Does not have an account? Register Here </a>
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
            <hr>
            <div class="container text-center">
              <a class="btn-fb btn-sm" href="#">Sign in with Facebook   <span class="fa fa-facebook-square"></span></a><br><br>
              <a class="btn-goog btn-sm" href="/auth/google">Sign in with Google  <span class="fa fa-google"></span></a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>



<div class="container-fluid text-center">
     <% if(error && error.length > 0) { %>
       <div class="alert alert-danger" role="alert"><%= error %></div>
     <% } %>

     <% if(success && success.length > 0) { %>
       <div class="alert alert-success" role="alert"><%= success %></div>
     <% } %>
  </div>
